* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);

}
#navbar {
    background:rgb(230, 42, 83);
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

#navbar a{
    padding-right: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#welcome-section {
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#projects {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px ;
   
}

.project-tile {
    height: 450px;
    width: 410px;
    background: rgb(177, 172, 172);
    border: 5px brown solid;
    margin: 0 1rem;
}

.project-tile img {
    width: 400px;
    object-fit: contain;
    overflow: hidden;

}

.title-link{
    width: 150px;
    /* background-color: red; */
    margin: auto;
    padding-top: 15%;
}

.project-tile a {
    text-decoration: none;
    font-size: 1.5rem;
    height: 1.5rem;
    color:white;
}

#contact{
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
 
#contact img{
    width: 40px;
/*     padding-bottom: 1rem; */
}


@media (max-width: 600px) {
    .project-title{
        height: 350px;
        width: 310px;
       margin-bottom: 20px;
    }

    .project-title img{
        width: 300px;
    }

    #projects{
         flex-wrap: wrap;
    }
}